@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-a4dyjr');
	src:url('fonts/icomoon.eot?#iefix-a4dyjr') format('embedded-opentype'),
		url('fonts/icomoon.woff?-a4dyjr') format('woff'),
		url('fonts/icomoon.ttf?-a4dyjr') format('truetype'),
		url('fonts/icomoon.svg?-a4dyjr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left5:before {
	content: "\e675";
}

.icon-arrow-right5:before {
	content: "\e676";
}

.icon-freeshipping:before {
	content: "\e674";
}

.icon-categories:before {
	content: "\e673";
}

.icon-message:before {
	content: "\e672";
}

.icon-youtube:before {
	content: "\e671";
}

.icon-gift1:before {
	content: "\e612";
}

.icon-gift2:before {
	content: "\e613";
}

.icon-gift3:before {
	content: "\e614";
}

.icon-gift4:before {
	content: "\e615";
}

.icon-date2:before {
	content: "\e616";
}

.icon-date1:before {
	content: "\e617";
}

.icon-money2:before {
	content: "\e618";
}

.icon-money1:before {
	content: "\e619";
}

.icon-arrow-down2:before {
	content: "\e61a";
}

.icon-arrow-up2:before {
	content: "\e61b";
}

.icon-arrow-down1:before {
	content: "\e61c";
}

.icon-arrow-up1:before {
	content: "\e61d";
}

.icon-arrow-left1:before {
	content: "\e61e";
}

.icon-arrow-right1:before {
	content: "\e61f";
}

.icon-arrow-left2:before {
	content: "\e620";
}

.icon-arrow-right2:before {
	content: "\e621";
}

.icon-arrow-left3:before {
	content: "\e622";
}

.icon-arrow-right3:before {
	content: "\e623";
}

.icon-arrow-left4:before {
	content: "\e624";
}

.icon-arrow-right4:before {
	content: "\e625";
}

.icon-cart14:before {
	content: "\e626";
}

.icon-cart13:before {
	content: "\e627";
}

.icon-shoppingbag8:before {
	content: "\e628";
}

.icon-shoppingbag7:before {
	content: "\e629";
}

.icon-shoppingbag6:before {
	content: "\e62a";
}

.icon-shoppingbag5:before {
	content: "\e62b";
}

.icon-cart12:before {
	content: "\e62c";
}

.icon-cart11:before {
	content: "\e62d";
}

.icon-search3:before {
	content: "\e62e";
}

.icon-search4:before {
	content: "\e62f";
}

.icon-search1:before {
	content: "\e630";
}

.icon-search2:before {
	content: "\e631";
}

.icon-discount-bg1:before {
	content: "\e632";
}

.icon-discount-bg2:before {
	content: "\e633";
}

.icon-discount-bg3:before {
	content: "\e634";
}

.icon-discount-bg4:before {
	content: "\e635";
}

.icon-cart10:before {
	content: "\e636";
}

.icon-delete1:before {
	content: "\e637";
}

.icon-delete3:before {
	content: "\e638";
}

.icon-delete4:before {
	content: "\e639";
}

.icon-add4:before {
	content: "\e63a";
}

.icon-minus4:before {
	content: "\e63b";
}

.icon-add3:before {
	content: "\e63c";
}

.icon-minus3:before {
	content: "\e63d";
}

.icon-add2:before {
	content: "\e63e";
}

.icon-minus2:before {
	content: "\e63f";
}

.icon-add1:before {
	content: "\e640";
}

.icon-minus1:before {
	content: "\e641";
}

.icon-adress3:before {
	content: "\e642";
}

.icon-email3:before {
	content: "\e643";
}

.icon-tel3:before {
	content: "\e644";
}

.icon-adress2:before {
	content: "\e645";
}

.icon-email2:before {
	content: "\e646";
}

.icon-tel2:before {
	content: "\e647";
}

.icon-adress1:before {
	content: "\e648";
}

.icon-email1:before {
	content: "\e649";
}

.icon-tel1:before {
	content: "\e64a";
}

.icon-clock1:before {
	content: "\e64b";
}

.icon-clock3:before {
	content: "\e64c";
}

.icon-favorite1:before {
	content: "\e64d";
}

.icon-favorite2:before {
	content: "\e64e";
}

.icon-favorite3:before {
	content: "\e64f";
}

.icon-favorite4:before {
	content: "\e650";
}

.icon-review1:before {
	content: "\e651";
}

.icon-review2:before {
	content: "\e652";
}

.icon-review3:before {
	content: "\e653";
}

.icon-shoppingbag4:before {
	content: "\e654";
}

.icon-plane4:before {
	content: "\e655";
}

.icon-cart8:before {
	content: "\e656";
}

.icon-cart9:before {
	content: "\e657";
}

.icon-shoppingbasket1:before {
	content: "\e658";
}

.icon-shoppingbasket2:before {
	content: "\e659";
}

.icon-plane3:before {
	content: "\e65a";
}

.icon-shoppingbag3:before {
	content: "\e65b";
}

.icon-plane2:before {
	content: "\e65c";
}

.icon-shoppingbag2:before {
	content: "\e65d";
}

.icon-plane1:before {
	content: "\e65e";
}

.icon-shoppingbag1:before {
	content: "\e65f";
}

.icon-Account7:before {
	content: "\e660";
}

.icon-cart7:before {
	content: "\e661";
}

.icon-Account6:before {
	content: "\e662";
}

.icon-cart6:before {
	content: "\e663";
}

.icon-Account5:before {
	content: "\e664";
}

.icon-cart5:before {
	content: "\e665";
}

.icon-Account4:before {
	content: "\e666";
}

.icon-cart4:before {
	content: "\e667";
}

.icon-Account3:before {
	content: "\e668";
}

.icon-cart3:before {
	content: "\e669";
}

.icon-Account2:before {
	content: "\e66a";
}

.icon-cart2:before {
	content: "\e66b";
}

.icon-Account1:before {
	content: "\e66c";
}

.icon-cart1:before {
	content: "\e66d";
}

.icon-home1:before {
	content: "\e66e";
}

.icon-home2:before {
	content: "\e66f";
}

.icon-home3:before {
	content: "\e670";
}

.icon-apple:before {
	content: "\e600";
}

.icon-blog:before {
	content: "\e601";
}

.icon-digg:before {
	content: "\e602";
}

.icon-dribbble:before {
	content: "\e603";
}

.icon-facebook:before {
	content: "\e604";
}

.icon-forrst:before {
	content: "\e605";
}

.icon-friendfeed:before {
	content: "\e606";
}

.icon-google:before {
	content: "\e607";
}

.icon-linkedin:before {
	content: "\e608";
}

.icon-msn:before {
	content: "\e609";
}

.icon-pinterest:before {
	content: "\e60a";
}

.icon-rss:before {
	content: "\e60b";
}

.icon-skype:before {
	content: "\e60c";
}

.icon-tumblr:before {
	content: "\e60d";
}

.icon-Twitter:before {
	content: "\e60e";
}

.icon-vimeo:before {
	content: "\e60f";
}

.icon-wikipedia:before {
	content: "\e610";
}

.icon-yahoo:before {
	content: "\e611";
}

